.space__filler {
    flex: 1 1 auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

.mr-4 {
    margin-right: 4px !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}